.App {
  background-color: #f2f2f2;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
